body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock{
    font-size: 7rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2.5%;
}
